<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd   
    http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-4.1.xsd"
	default-lazy-init="true">
	
	
<!-- 	<mvc:view-controller path="/" view-name="index"/> -->
	<!-- 默认扫描的包路径 -->  
    <context:component-scan base-package="com.y.web.controller" /> 
<!--     <context:component-scan base-package="com.lanyuan.controller" /> -->
<!-- 	<context:component-scan base-package="com.lanyuan.logAop" /> -->
    <!-- 添加注解驱动 -->  
    <mvc:annotation-driven/>
    <!-- 定义跳转的文件的前后缀 -->  
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <!-- 决定视图类型，如果添加了jstl支持（即有jstl.jar），那么默认就是解析为jstl视图 -->  
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/hplus/" />  
        <property name="suffix" value=".jsp" />  
    </bean> 
	
	<!-- 处理静态资源 -->  
    <!-- 上传的图片缓存1个月，其他js，css，img资源缓存一年 -->  
    <mvc:resources mapping="/hplus/res/**" location="/hplus/res/" cache-period="2592000"/>   
    <mvc:resources mapping="/hplus/resources/**" location="/hplus/resources/" cache-period="31536000"/>   
    <mvc:resources mapping="/hplus/css/**" location="/hplus/css/" cache-period="31536000"/>  
    <mvc:resources mapping="/hplus/js/**" location="/hplus/js/" cache-period="31536000"/>  
    <mvc:resources mapping="/hplus/img/**" location="/hplus/img/" cache-period="31536000"/>  
    <mvc:resources mapping="/hplus/fonts/**" location="/hplus/fonts/" cache-period="31536000"/>  
    <mvc:resources mapping="/hplus/images/**" location="/hplus/images/" cache-period="31536000"/>  
    
    <!--避免IE执行AJAX时，返回JSON出现下载文件 -->
    <!-- 
	<bean id="mappingJackson2HttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/json;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	 -->
    <!-- 采用SpringMVC自带的JSON转换工具，支持@ResponseBody注解 -->
    <!--  
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJackson2HttpMessageConverter" />    
			</list>
		</property>
	</bean>
	 -->
	 
 <!-- 返回json 方法一 需要导入 fastjson.jar包 -->  
	<mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
            <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <!-- 这里顺序不能反，一定先写text/html,不然ie下出现下载提示 -->
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- shiro -->
    <import resource="spring-mvc-shiro.xml"/>
    
    <!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 默认编码 -->
		<property name="defaultEncoding" value="utf-8" />
		<!-- 文件大小最大值 -->
		<property name="maxUploadSize" value="10485760000" />
		<!-- 内存中的最大值 -->
		<property name="maxInMemorySize" value="40960" />
	</bean>
</beans>