<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y.dao.LogMapper">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="Base_Column_List">
		id,
		accountName,
		module,
		methods,
		actionTime,
		userIP,
		description,
		operTime
	</sql>
	
	<insert id="addEntity" useGeneratedKeys="true" keyProperty="id">
		insert into ly_log (<include refid="Base_Column_List" />)
		values
		(#{id}, #{accountName},#{module},#{methods},#{actionTime},#{userIP},#{description},#{operTime})
	</insert>
	
</mapper>

